@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primaryClr: #000;
  --secondaryClr: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #fff;
    --secondary: #000;
  }
}

body {
  background: var(--primary);
  color: var(--secondary);
}
